.header {
  background-color: var(--app-bar-background-color);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header_logo {
  font-family: DistantGalaxy;
  font-size: 30px;
  color: var(--logo-font-color);
  font-weight: 600;
}

.header_right {
  padding: 0 15px;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: var(--default-font-color);
}

.nav {
  color: var(--app-bar-font-color);
}
