.screen {
  width: 100%;
}

/*The whole wrapper*/
.container {
}

/*Logo name*/
.appName {
  font-family: DistantGalaxy;
  color: var(--logo-font-color);
  text-align: center;
}

/*Form Wrapper*/
.formContainer {
  background-color: var(--card-background-color);
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 10px;
}


/*Form*/
.form {
  margin: 0 auto;
  padding: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 8px;
}

/*Error Message*/
.error_message {
  color: #e27164;
  font-weight: bold;
  align-self: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
