.page {
  text-align: center;
  margin: 20px;
  border: 2px solid greenyellow;
  border-radius: 5px;
}

html {
  background-color: var(--default-background-color);
}

.header {
  background-color: var(--app-bar-background-color);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.headerRight {
  padding: 0 15px;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: var(--default-font-color);
}

.nav {
  color: var(--app-bar-font-color);
  padding: 5px;
  font-size: 14px;
}

.episodesCartText {
  display: -webkit-box;
  height: 200px;
  font-size: medium;
  margin: 0 auto;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: scroll;
  text-overflow: ellipsis;
  text-align: left;
}

.cardBorder {
  border: 2px solid;
  border-radius: 5px;
  display: inline-block;
}

.episodesList {
  width: 256px;
}

.episodesList:hover {
  border-color: var(--hover-color);
}

.themedCard:hover {
  border-color: var(--hover-color);
}