html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

html {
  --default-background-color: #E8EAED;
  --default-font-color: #4E5B4E;
  --card-border-color: #E5E9F2;
  --card-background-color: #FFFFFF;
  --button-background-color: #000000;
  --button-border-color: #E5E9F2;
  --button-font-color: #FFE300;
  --outline-button-background-color: #EFF2F7;
  --outline-button-border-color: #E5E9F2;
  --outline-button-font-color: inherit;
  --input-background-color: #EFF2F7;
  --input-border-color: #E5E9F2;
  --input-font-color: #3C4858;
  --app-bar-background-color: #000000;
  --app-bar-border-color: #333333;
  --app-bar-font-color: #4BD5EE;
  --primary-heading-font-color: #4BD5EE;
  --radar-font-color: #4BD5EE;
  --radar-background-color: #000000;
  --radar-grid-color: #3C4858;
}

html[data-theme="dark"] {
    --default-background-color: #000000;
    --default-font-color: #ABB1BA;
    --card-border-color: #3C4858;
    --card-background-color: #333333;
    --button-background-color: #4BD5EE;
    --button-border-color: #E5E9F2;
    --button-font-color: none;
    --outline-button-background-color: #3C4858;
    --outline-button-border-color: #333333;
    --outline-button-font-color: inherit;
    --input-background-color: #FFFFFF;
    --input-border-color: #3C4858;
    --input-font-color: #273444;
    --app-bar-background-color: #33333;
    --app-bar-border-color: #3C4858;
    --app-bar-font-color: #4BD5EE;
    --primary-heading-font-color: #FFE300;
    --radar-font-color: #FFE300;
    --radar-background-color: #000000;
    --radar-grid-color: #333333;
}